*{
    border: 0;
    /* border: 1px solid green; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #eee; */
    font-family: 'Lucida Sans';
    /* margin 0 auto;
    width: 90%;
    background-color: #ecebec; */
}

.titulo{
    /* margin-top: 10px; */
    margin: 10px 40px;
    display: flex;
    justify-content: space-between;
}
.encabezado{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;    
    line-height: 30px;
    text-align: justify;
}
.boton{
    margin-top: 40px;
    justify-content: center;
    align-content: center;  
    border: none;
    padding-left: 30px;
    
}
.boton > input{
    background-color: black;
    color: white;
    padding: 5px;
}
.contenido{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 450px; */
    align-items: center;
    /* margin: 15% 0; */
    height: 100%;
    
}
.cuadros{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(6, minmax(150px, 1fr));
    gap: 20px;
    
}

.cuadro{
    background-color: #ecebec;
    text-align: center;
    /* box-shadow: 2px 2px 2px 2px rgb(73, 73, 73); */
    animation: mianimacion 0.5s ease-out normal backwards;

}
.cuadro:hover{
    box-shadow: 2px 2px 2px 2px #747474;
    transform: translate(0, 5px) scale(1.03);

}

.cuadro:nth-of-type(1){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.cuadro:nth-of-type(2){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.cuadro:nth-of-type(3){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.cuadro:nth-of-type(4){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.cuadro:nth-of-type(5){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
.cuadro:nth-of-type(6){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
.cuadro:nth-of-type(7){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}
.cuadro:nth-of-type(8){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
.cuadro:nth-of-type(9){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}
@keyframes mianimacion{
    0%{
        transform: scale(0);
    }
    70%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);

    }
}
@media screen and (max-width: 870px){
    .cuadros{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        grid-template-rows: repeat(10, minmax(300px, 1fr));
        gap: 20px;
        
    }
    .encabezado{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    h2{
        text-align: center;
    }
    .boton{
        padding-left: 0;
    }
    .cuadro:nth-of-type(1){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .cuadro:nth-of-type(2){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .cuadro:nth-of-type(3){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .cuadro:nth-of-type(4){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .cuadro:nth-of-type(5){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .cuadro:nth-of-type(6){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .cuadro:nth-of-type(7){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .cuadro:nth-of-type(8){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
    }
    .cuadro:nth-of-type(9){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 9;
        grid-row-end: 10;
    }
}