*{
    border: 0;
    /* border: 1px solid grey; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient( to left, #742c63, #270f27);
}

main{

}

.cuadros{
    /* margin: 40px; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    justify-content: center;
    align-content: center;
    margin: 20% 20%;
    /* height: 100%; */
}

.cuadro{
    padding: 20px;
    border-radius: 20px;
}

.cuadro:nth-of-type(1){
    background-color: #308c7c;
    grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.cuadro:nth-of-type(2){
    background-color: #4eacc4;
    grid-column-start: 3 ;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.cuadro:nth-of-type(3){
    background-color: #be6ea6;
    grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.cuadro:nth-of-type(4){
    background-color: #ac5b53;
    grid-column-start: 3 ;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.cuadro:nth-of-type(5){
    background-color: #2c5c65;
    grid-column-start: 5 ;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.cuadro:nth-of-type(6){
    background-color: #726364;
    grid-column-start: 5 ;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

@media screen and (max-width: 870px){
    .cuadros{
        gap: 7px;
        grid-template-columns: repeat(5, minmax(65px, 1fr));
        grid-template-rows: repeat(3, minmax(65px, 1fr));

    }
    .cuadro{
        /* padding: 20px; */
        border-radius: 5px;
    }
}